# Distribution / packaging
.Python
dist/
*.egg-info/

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

#other
solarsystem/__pycache__/
tests/__pycache__/*
README.html
README0.md
.Rhistory
